<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sternum Login</title>

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.8.1/css/all.css}">
</head>
<body>
<div class="row">
    <div class="col-12" style="height: 25px"></div>
</div>

<div class="row">
    <div class="col-12 logo" style="height: 150px"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="container">
            <div class="row">
                <div class="col logo">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 th:text="Authorize + ' ' + ${appToAuth}">Authorize</h3>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col text-center"
                     th:text="${appToAuth} + ' wants to connect with your sternum account'"></div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <form id="confirmationForm" th:name="confirmationForm" th:action="@{/oauth/authorize}"
                          method="post">
                        <input type="hidden" th:value="true" th:name="user_oauth_approval" value="true">
                        <th:block th:each="scope : ${scopes}">
                            <input type="hidden" th:name="${scope.key}" th:value="true"/>
                        </th:block>

                        <button th:name="authorize" th:value="Authorize" type="submit" class="btn btn-primary">
                            Authorize
                        </button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <br/>
                    <br/>
                    Not you?
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-primary">
                            Use different account
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
</body>