<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sternum Login</title>

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.8.1/css/all.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12" style="height: 25px"></div>
    </div>

    <div class="row">
        <div class="col-12 logo" style="height: 150px"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="container">
                <div class="row">
                    <div class="col logo">
                    </div>
                </div>
                <div class="row">
                    Logged
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
