<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sternum Login</title>

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.8.1/css/all.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12" style="height: 25px"></div>
    </div>

    <div class="row">
        <div class="col-12 logo" style="height: 150px"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="container">
                <div class="row">
                    <div class="col logo">
                    </div>
                </div>

                <div class="row">
                    <div class="col" th:if="${info != null}">
                        <span th:text="${info}"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col" th:if="${error != null}">
                        <span th:text="${error}"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top"
                                 th:src="${@environment.getProperty('spring.sternum.auth.cdn.address')} + ${user.image}"
                                 alt="User image">
                            <div class="card-body">
                                <h5 class="card-title" th:text="'Logged as ' + ${user.username}"></h5>
                                <p class="card-text">
                                    <th:block th:each="auth : ${user.authorities}">
                                        <span th:text="${auth.name()}"></span>
                                    </th:block>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <br/>
                <br/>

                <div class="row">
                    <div class="col">
                        <h3>Change password</h3>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form th:action="@{/password}" th:method="POST" th:object="${passwordForm}">
                            <div class="form-group">
                                <label for="passwordInput">New Password</label>
                                <input type="password" class="form-control"
                                       id="passwordInput"
                                       th:name="password"
                                       placeholder="New Password"/>
                            </div>
                            <div class="form-group">
                                <label for="confirmPasswordInput">Confirm New Password</label>
                                <input type="password" class="form-control"
                                       id="confirmPasswordInput"
                                       th:name="confirmPassword"
                                       placeholder="Confirm Password"/>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">
                                    Change Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <h3>Change image</h3>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form th:action="@{/register}" th:method="POST" th:object="${imageForm}"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="fileInput">File</label>
                            <input type="file" class="form-control-file"
                                   id="fileInput"
                                   th:name="image">
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
